*{
    margin: 0;
    padding: 0;
    color: white;
}
/* header */

h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    position: sticky;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0 10px;
    background-color: rgb(36, 36, 36);
    position: fixed;
    height: 50px;
    width: 100%;
}

.menu{
    display: flex;
    margin: 0 20px;
}
.menu p{
    font-size: 20px;
    color: rgb(115, 115, 115);
}
.menu img {
    height: 20px;
    width: 20px;
}

.menu:hover ,.menu p:hover ,.menu img:hover{
    color: orangered;
    text-decoration: underline;
    font-size: 20px;
}

/* body */
body{
    background-color: rgb(30, 30, 30);
}


/* home */

.home{
    display: grid;
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 100vh;
    background-image: url(4171890.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
}
.home-con{
    margin-top: 30px;
}
.home-con p{
    font-size: 30px;
    color: orangered;
}
.home-con h3{
    font-size: 50px;
}
.home-con h3 span{
    color: orangered;
}
.home-con h4{
    font-size:40px;
}
.home-pic img{
    margin: 30px 0 0 0;
    border: 2px solid orangered;
    border-radius: 50%;
    height: 380px;
    width: 400px;
}      

.home-con button {
    margin: 30px 10px 10px 10px;
    height: 40px;
    width: 90px;
    border: 2px solid orangered;
    border-radius: 30px;
    background: transparent;
}
.home-con button a{
    color: orangered;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}
.home-con button:hover {
    scale: 1.2;
}


/* About */

.About{
    justify-content: center;
    align-items: center;
    display: grid;
    background-color: rgb(30, 30, 30);
}
.about-con{
    align-items: center;
    justify-content: center;
    display: grid;
}
.about-con h1{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-variant: small-caps;
    margin: 10px 0 0 0;
}
.about-con p{
    font-size: 16px;
    color: rgb(102, 102, 102);
    width: 60vw;
    height: auto;
    margin: 20px 0 20px 0;
}

.about-con-progress{
    color: rgb(255, 255, 255);
    display: grid;
}

.about-con-progress progress{
    margin: 5px 0 5px 0;
    width: 50vw;
    height: 20px;
}
.about-con-progress span{
    font-size: 25px;
    margin: 0 0 10px 0;
}

/* info */

.info ul li{
    list-style: none;
    font-size: 19px;
    color: rgb(119, 119, 119);
    margin: 10px 10px 10px 0;
}

/* Education */

.education{
    justify-content: center;
    align-items: center;
    display: grid;
}

.education .i{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-variant: small-caps;
    margin: 10px 0 0 0;
}
.education-con{
    display: flex;
}
.education-con .box{
    border: 1px solid gray;
    background-color: rgb(48, 47, 47);
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 20vh;
    width: 20vw;
}
.education-con .box h2{
    color: orangered;
}

.education-con .box p{
    margin-top: 10px;
    color: rgb(134, 133, 133);
}

.education-con .box:hover{
    scale: 1.1;
    box-shadow:rgb(253, 91, 32) 2px 2px 2px 3px;
}




/* Responsive */

@media screen and (max-width: 803px){
    .home{
        display: flex;
        flex-direction: column-reverse;
    }
    .home-con{
        margin-top: -130px;
    }
    .home img{
        height: 300px;
        width: 340px;
    }
    .about-con p{
        width: 80vw;
    }  
    .about-con-progress progress{
        width: 80vw;
    }

    .education-con{
        display: grid;
    }
    .education-con .box{
        width: 80vw;
        height: auto;
    }
}